@import "compass/css3";
@import "compass/utilities";
@import "respond";

/* NUMBERS ------------------------------------------------------------------ */

$line: 24px;
$font-size: 16px;
$em: $font-size * 1;

/* COLORS ------------------------------------------------------------------- */

$background: #fff;
$color: #333;

$highlight: #ff6666;