/* LINKS -- */

a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid;

    &:hover,
    &:focus {
        color: #555;
    }
}

button,
.button,
[type=button],
[type=submit] {
    @include inline-block;
    -webkit-appearance: none;
    vertical-align: middle;
    text-align: center;
    background: $highlight;
    color: #fff;
    border: 0;
    line-height: 3;
    height: 3em;
    padding: 0 15px;
    font-size: 1em;
    font-weight: 700;
    font-family: $sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    @include border-radius(0);
    margin: 0;

    &:hover,
    &:focus {
        background: shade($highlight, 15);
        color: #fff;
    }
}

input[type=email] {
    vertical-align: middle;
    border: 0;
    outline: 0;
    font-size: $font-size;
    padding: 0 15px;
    line-height: 3;
    background: #eee;
}

select {
    height: $line;
    font-size: $font-size - 2;
    border: 1px solid $highlight;
    cursor: pointer;
}