html,
body {
    background: #fff;
    color: #2f2e2a;
}

html {
    background: #ececec;
}

body {
    background: #fff;
    padding-top: 42px; // compensate for fixed top header
}

%wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}


/* HEADER -- */

.header--top {
    position: fixed;
    z-index: 30;
    top: 0;
    width: 100%;
    height: 42px;
    line-height: 42px;
    background: #000;
    font-weight: 700;
    font-family: $sans-serif;

    a {
        color: #fff;
        padding: 0 10px;
        display: block;
        border: 0;

        &:hover,
        &:focus {
            color: #ccc;
        }
    }
}

[role=banner],
[role=navigation] {
    text-align: center;
}

[role=banner] {
    padding: $line*2 0 $line;

    a {
        border: 0;
        max-width: 80%;
        width: 300px;
        @include inline-block;
        color: #eee;
    }
}

/* NAVIGATION -- */

[role=navigation] {
    font-family: $condensed;
    text-transform: uppercase;
    border-bottom: 3px solid #000;
    padding: 6px 0 6px;

    .navigation--children {
        border-top: 1px dashed #ccc;
        font-size: 14px;
        margin: 0 $line;

        @include respond-to(mobile) {
            margin: 0;
        }
    }

    li {
        @include inline-block;
    }

    a {
        display: block;
        padding: 6px 10px;
    }

    .current > a {
        text-decoration: line-through;
    }
}

nav,
.products,
.product,
footer {

    a {
        border: 0;
    }
}


/* MAIN CONTENT -- */

[role=main] {
    @extend %wrapper;
}

.front {
    @extend .products;

    article {

        @include respond-to(mobile) {
            width: 96% !important;
        }
    }

    .front__full {
        width: 98%;
    }
}

/* CATALOG -- */

.products {
    margin: $line -10px 0; // Compensate for %wrapper padding

    article { // a product
        text-align: center;
        @include inline-block();
        vertical-align: top;
        width: 31.333%;
        margin: 0 1% $line;

        @include respond-to(mobile) {
            width: 46%;
            margin-left: 2%;
            margin-right: 2%;
        }
    }

    a {
        display: block;
    }

    h2,
    p {
        font-size: 1em;
        line-height: 1.5;
        margin: 0;
        font-family: $condensed;
    }

    @include respond-to(mobile) {

        h2,
        p {
            visibility: hidden;
            position: absolute;
            z-index: -1;
        }
    }

    .product__description {
        display: none;
    }
}

.product {
    direction: rtl;

    .product__image {
        display: none;
    }

    @include respond-to(mobile) {

        .product__image {
            display: block;
            margin-top: $line/2;
        }

        .product__image--primary {
            display: none;
        }
    }

    .price {
        @extend h2;
        margin-bottom: $line;
    }

    select {
        margin: 0 0 $line/2;
        width: 100%;
    }

    button {
        width: 100%;
    }

    .button {
        display: block;
    }
}

.products--related {

    > h2 {
        visibility: visible;
        position: relative;
        z-index: 0;
        width: 100%;
        text-align: center;
        margin-bottom: $line;
        border-bottom: 1px dashed #ccc;
        margin: -$line/2 0 $line+$line/2;

        span {
            @include inline-block;
            background: #fff;
            margin-bottom: -18px;
            padding: 0 .6em;
        }
    }
}

.product__title {
    margin-bottom: 0;
}

.product__description {
    margin-bottom: $line;

    h3 {
        margin-bottom: $line;
        font-weight: 400;
        text-transform: none;
    }

    del {
        display: none;
    }
}

.product__image {
    position: relative;

    img {
        display: block;
        background: #ccc;
    }

    span {
        position: absolute;
        top: 50%;
        left: 0;
        color: #fff;
        text-transform: uppercase;
        padding: $line/2 0;
        margin-top: -$line;
        width: 100%;
        background: $highlight;
        background: rgba($highlight, .7);
        text-align: center;
    }
}

.product__info,
.product__media {
    @include inline-block;
    vertical-align: top;
    margin: $line 1%;
    direction: ltr;
}

.product__info {
    margin-left: 2%;
    width: 33%;
}

.product__media {
    line-height: 0;
    margin-right: 2%;
    margin-bottom: 0;
    width: 61%;

    img {
        margin-bottom: $line;
    }
}

.image__zoom {
    top: 0;
    left: 0;
    position: absolute;
    background: #fff;
    width: 100%;
    min-height: 100%;
    z-index: 10000;

    img {
        display: block;
        margin: 0 auto $line;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@include respond-to(mobile) {

    .product__info,
    .product__media {
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .product__media {
        margin-top: 0;
    }
}

.price {
    font-family: $condensed;
    font-weight: 700;
    color: $highlight;

    del {
        font-weight: 400;
        color: #999;
    }
}

.label {
    font-family: $sans-serif;
    text-transform: uppercase;
    color: #999;
}


/* CUSTOM PAGES -- */

.page { // article
    margin-top: $line;

    h1 {
        text-align: center;
    }
}


/* FOOTER -- */

[role=contentinfo] {
    padding: 6px 0 18px;
    background: #ececec;

    ul {
        @extend %wrapper;
        text-align: center;
    }

    li {
        @include inline-block;
    }

    a {
        display: block;
        padding: 6px 10px;
    }
}

.splash {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: no-repeat center center fixed;
    @include background-size(cover);
}
