html,
body {
    background: #fff;
    color: #2f2e2a;
}

html {
    background: #ececec;
}

body {
    background: #fff;
    padding-top: 42px; // compensate for fixed top header
}

%wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}


/* HEADER -- */

.header--top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 42px;
    line-height: 42px;
    background: #f6f6f6;
    padding: 0 10px;
    font-weight: 700;
    font-family: $sans-serif;
}

[role=banner],
[role=navigation] {
    text-align: center;
}

[role=banner] {
    padding: 24px 0;

    a {
        max-width: 80%;
        width: 300px;
        @include inline-block;
        color: #eee;
    }
}

/* NAVIGATION -- */

[role=navigation] {
    text-transform: uppercase;
    border-bottom: 1px solid #f2f2f2;
    font-weight: 700;
    padding: 6px 0 6px;

    .navigation--children {
        border-top: 1px dashed #f2f2f2;
        text-transform: none;
        font-weight: 400;
    }

    li {
        @include inline-block;
    }

    a {
        display: block;
        padding: 6px 10px;
    }

    .current a {
        color: #555;
        font-weight: 700;
    }
}


/* MAIN CONTENT -- */

[role=main] {
    @extend %wrapper;
}


/* CATALOG -- */

.products {
    margin: 0 -10px; // Compensate for %wrapper padding

    article { // a product
        text-align: center;
        @include inline-block();
        vertical-align: top;
        width: 31.333%;
        margin: 0 1% 24px;

        @include respond-to(mobile) {
            width: 46%;
            margin-left: 2%;
            margin-right: 2%;
        }
    }

    a {
        display: block;
    }

    &:before,
    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }

    h2,
    p {
        font-size: 1em;
        line-height: 1.5;
        margin: 0;
        font-family: $sans-serif;
    }

    @include respond-to(mobile) {

        h2,
        p {
            visibility: hidden;
            position: absolute;
            z-index: -1;
        }
    }
}

.product {
    direction: rtl;
}

.product__info,
.product__media {
    @include inline-block;
    vertical-align: top;
    margin: 24px 1%;
    direction: ltr;
}

.product__info {
    margin-left: 2%;
    width: 33%;
}

.product__media {
    line-height: 0;
    margin-right: 2%;
    margin-bottom: 0;
    width: 61%;

    img {
        margin-bottom: 24px;
    }
}

@include respond-to(mobile) {

    .product__info,
    .product__media {
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .product__media {
        margin-top: 0;
    }
}

.price {
    font-family: $sans-serif;
    font-weight: 700;
    color: $highlight;

    del {
        font-weight: 400;
        color: #999;
    }
}

.label {
    font-family: $sans-serif;
    text-transform: uppercase;
    color: #999;
}


/* FOOTER -- */

[role=contentinfo] {
    padding: 6px 0 18px;
    background: #ececec;

    ul {
        @extend %wrapper;
        text-align: center;
    }

    li {
        @include inline-block;
    }

    a {
        display: block;
        padding: 6px 10px;
    }
}
