html,
body {
    background: #fff;
    color: #2f2e2a;
}

html {
    background: #000;
}

body {
    background: #fff;
    padding-top: 42px; // compensate for fixed top header
}

%wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}


/* HEADER -- */

.header--top {
    position: fixed;
    z-index: 30;
    top: 0;
    width: 100%;
    height: 42px;
    line-height: 42px;
    background: #000;
    font-weight: 700;
    font-family: $sans-serif;

    a {
        position: relative;
        z-index: 1;
        color: #fff;
        padding: 0 10px;
        display: block;
        border: 0;

        &:hover,
        &:focus {
            color: #ccc;
        }
    }

    .header__info {
        display: block;
        position: absolute;
        width: 100%;
        text-align: center;
        color: #ccc;

        img {
            margin-top: 13px;
        }

        span {
            font-weight: 400;
            font-size: 14px;
        }
    }

    .fb-like {
        margin: 3px 0 0 10px;
        position: absolute;
        z-index: 1;
    }

    @include respond-to(tablet) {

        #top-logo {
            visibility: hidden;
        }
    }

    @include respond-to(mobile) {
        background: #000 url('../images/back-arrow.gif') no-repeat 7px center;
        background-size: 16px 19px;

        .fb-like {
            display: none;
        }
    }
}

[role=banner],
[role=navigation] {
    text-align: center;
}

[role=banner] {
    padding: $line*2 0 $line;

    a {
        border: 0;
        max-width: 80%;
        width: 300px;
        @include inline-block;
        color: #eee;
    }
}

/* NAVIGATION -- */

[role=navigation] {
    max-width: 1000px;
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 6px 0 6px;

    .navigation--children {
        font-weight: 100;
        font-size: 12px;

        @include respond-to(mobile) {
            margin: 0;
        }
    }

    li {
        @include inline-block;
    }

    a {
        display: block;
        padding: 3px .5em;
    }

    .current > a {
        font-weight: 700;
    }
}

nav,
.products,
.product,
footer {

    a {
        border: 0;
    }
}


/* MAIN CONTENT -- */

[role=main] {
    @extend %wrapper;
    margin-top: $line/2;
    border-top: 1px dashed #ccc;
    padding: $line/2 0 $line;
}

.front {
    margin-top: -$line/2 !important;

    @extend .products;

    article {

        @include respond-to(mobile) {
            width: 96% !important;
        }
    }

    .front__full {
        margin-top: -1px;
        width: 98%;
    }
}

/* CATALOG -- */

.products {
    margin: $line -10px 0; // Compensate for %wrapper padding

    @include respond-to(mobile) {
        margin-left: 0;
        margin-right: 0;
    }

    article { // a product
        text-align: center;
        @include inline-block();
        vertical-align: top;
        width: 31.333%;
        margin: 0 1% $line+$line/3;

        @include respond-to(mobile) {
            width: 46%;
            margin-left: 2%;
            margin-right: 2%;
        }
    }

    a {
        display: block;
    }

    h2,
    p {
        font-size: 1em;
        line-height: 1.5;
        margin: 0;
        font-family: $condensed;
    }

    h2 {
        margin-top: $line/3;
    }

    // @include respond-to(mobile) {

    //     h2,
    //     p {
    //         visibility: hidden;
    //         position: absolute;
    //         z-index: -1;
    //     }
    // }

    .product__description {
        display: none;
    }
}

.product {
    direction: rtl;

    .product__title {
        margin-bottom: $line;
    }

    .product__image {
        display: none;
    }

    h3 {
        margin-top: -$line/2;
    }

    @include respond-to(mobile) {
        direction: ltr;

        .product__info {
            display: block;
            width: auto;
            margin-left: 10px;
            margin-right: 10px;
        }

        .product__image {
            display: block;
            margin-top: $line/2;
        }

        .product__image--primary {
            display: none;
        }
    }

    .price {
        @extend h2;
        margin-bottom: $line;
    }

    select {
        margin: 0 0 $line/2;
        width: 100%;
    }

    button {
        width: 100%;
    }

    .button {
        display: block;
    }
}

p.info {
    font-size: 14px;
    background: #f3f3f3;
    padding: $line/2;
}

.fb-like {
    margin-top: $line;
}

.products--related {

    > h2 {
        visibility: visible;
        position: relative;
        z-index: 0;
        width: 100%;
        text-align: center;
        margin-bottom: $line;
        border-bottom: 1px dashed #ccc;
        margin: -$line/2 0 $line+$line/2;

        span {
            @include inline-block;
            background: #fff;
            margin-bottom: -18px;
            padding: 0 .6em;
        }
    }
}

.product__title {
    margin-bottom: 0;
}

.product__description {
    margin-bottom: $line;

    h3 {
        margin-bottom: $line;
        font-weight: 400;
        text-transform: none;
    }

    del {
        display: none;
    }
}

.product__image {
    position: relative;

    img {
        display: block;
        background: #ccc;
    }

    span {
        font-family: $condensed;
        position: absolute;
        top: 50%;
        left: 0;
        color: #fff;
        text-transform: uppercase;
        padding: $line/2 0;
        margin-top: -$line;
        width: 100%;
        background: $highlight;
        background: rgba($highlight, .7);
        text-align: center;
        letter-spacing: .1em;
    }
}

.product__info,
.product__media {
    @include inline-block;
    vertical-align: top;
    margin: $line 1%;
    direction: ltr;
}

.product__info {
    margin-left: 2%;
    margin-right: 2%;
    width: 33%;
}

.product__media {
    line-height: 0;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 0;
    width: 57%;

    img {
        margin-bottom: $line;
    }
}

.image__zoom {
    top: 0;
    left: 0;
    position: absolute;
    background: #000;
    width: 100%;
    min-height: 100%;
    z-index: 10000;
    overflow-x: hidden;

    img {
        display: block;
        margin: 0 auto $line;

        &:last-child {
            margin-bottom: 0;
        }

        @include respond-to(mobile) {
            margin-left: -50%;
            margin-right: -50%;
            width: 200%;
            max-width: 200%;
        }
    }
}

@include respond-to(mobile) {

    .product__info,
    .product__media {
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .product__media {
        margin-top: 0;
    }
}

.price {
    font-family: $condensed;
    font-weight: 700;
    color: $highlight;

    del {
        font-weight: 400;
        color: #999;
    }
}

.label {
    font-family: $sans-serif;
    text-transform: uppercase;
    color: #999;
}


/* CUSTOM PAGES -- */

.page { // article
    margin-top: $line;

    h1 {
        text-align: center;
    }
}


/* FOOTER -- */

[role=contentinfo] {
    padding: 6px 0 $line;
    background: #000;
    font-size: 14px;
    text-transform: uppercase;
    color: #ccc;

    ul {
        @extend %wrapper;
        text-align: center;
    }

    li {
        @include inline-block;
    }

    a {
        color: #fff;

        &:hover,
        &:focus {
            color: #ccc;
        }
    }

    ul a {
        display: block;
        padding: 6px 10px;
    }

    section {
        max-width: 800px;
        border-bottom: 1px dashed #444;
        @extend .products;
        color: #ccc;
        margin: $line auto 6px;

        @include respond-to(mobile) {
            margin-top: 0;

            article {
                width: 96% !important;
                padding: $line/2 0;
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                border-bottom: 1px solid #222;

                &:last-child {
                    border: 0;
                }
            }
        }
    }

    .important {
        max-width: 800px;
        margin: $line/3 auto 0;
        border-top: 1px dashed #444;
        text-align: center;

        img,
        span {
            @include inline-block;
            vertical-align: middle;
            padding: .8em .5em;
        }
    }
}

.splash {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: no-repeat center center fixed;
    @include background-size(cover);
}
