<!doctype html>
<!--[if IE 7]>    <html class="ie7 oldie" lang="en" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie" lang="en" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 8]> <!--> <html lang="en"> <!--<![endif]-->
    <head>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=EB+Garamond|Open+Sans:400,700" />

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{store_name}}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1" />

        <!-- TODO: Add favicon -->

        <!-- TODO: Correct asset path {{assets_url}} -->
        <link href="//dhskp7m6mg2zv.cloudfront.net/theme_assets/shared/css/base.css" rel="stylesheet" />
        <link rel="stylesheet" href="/style.css" media="all" />

        <!--[if lt IE 9]>
            <script src="{{assets_url}}/shared/js/html5shiv.js"></script>
        <![endif]-->

        <!-- TODO: Add GA -->
    </head>
    <body>
        <div class="header--top">
           <a href="/">{{store_name}}</a>
        </div>

        {{#no_current_navigation}}
            <header role="banner">
                <a href="/"><img src="/images/lxls-logo.png" /></a>
            </header>
        {{/no_current_navigation}}

        <nav role="navigation">
            <ul class="navigation">
                {{#navigation}}
                    <li class="{{#is_current}}current{{/is_current}}">
                        <a href="{{url}}">{{label}}</a>
                    </li>
                {{/navigation}}
                <li{{#why-buy_page}} class="current"{{/why-buy_page}}>
                    <a href="/why-buy">Why Buy</a>
                </li>
                <li{{#easy-returns_page}} class="current"{{/easy-returns_page}}>
                    <a href="/easy-returns">Easy Returns</a>
                </li>
            </ul>
            {{#navigation}}{{#is_current}}{{#children?}}
                <ul class="navigation--children">
                    {{#children}}
                        <li class="{{#is_current}}current{{/is_current}}">
                            <a href="{{url}}">{{label}}</a>
                        </li>
                    {{/children}}
                </ul>
            {{/children?}}{{/is_current}}{{/navigation}}
        </nav>

        <div role="main">


            {{#no_current_navigation}}
                frontpage..
            {{/no_current_navigation}}


            {{#list_page}}{{^on_index}}
                <section class="products"><!--

                    {{#products}}
                     --><article>
                            <a href="{{url}}">
                                <div class="product__image">
                                    {{#primary_image}}
                                        <img src="{{url-500}}" alt="{{title}}">
                                    {{/primary_image}}
                                    {{#out_of_stock}}
                                        <span>Sold Out</span>
                                    {{/out_of_stock}}
                                </div>

                                <h2>{{title}}</h2>
                                <p></p>
                                {{#in_stock}}
                                    <div class="price"><del></del> {{price_with_currency}}</div>
                                {{/in_stock}}
                                <div class="product__description">{{description}}</div>
                            </a>
                        </article><!--
                    {{/products}}

             --></section>
            {{/on_index}}{{/list_page}}


            {{#product_page}}

                {{#product}}
                    <article class="product" itemscope itemtype="http://schema.org/Product">
                        <div class="product__image">
                            {{#primary_image}}
                                <a href="{{url-1000}}">
                                    <img src="{{url-500}}" alt="{{title}}">
                                </a>
                            {{/primary_image}}
                        </div>

                        <section class="product__info">
                            <h1>{{title}}</h1>
                            <div itemprop="description">
                                {{description}}
                            </div>

                            <div class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                <del></del>
                                <span itemprop="price">{{price_with_currency}}</span>

                                <meta itemprop="priceCurrency" content="{{currency_code}}">
                                {{#in_stock}}<link itemprop="availability" href="http://schema.org/InStock">{{/in_stock}}
                                {{#out_of_stock}}<link itemprop="availability" href="http://schema.org/OutOfStock">{{/out_of_stock}}
                            </div>

                            {{#add_to_cart}}
                                {{#add_to_cart_button}}Add to cart{{/add_to_cart_button}}
                            {{/add_to_cart}}

                        </section><!--

                     --><figure class="product__media">
                            {{#all_images}}
                                <a href="{{url-1000}}">
                                    <img{{#is_primary}} class="product__image--primary"{{/is_primary}} src="{{url-500}}">
                                </a>
                            {{/all_images}}
                        </figure>
                    </article>
                {{/product}}

                <aside role="complementary">
                    {{#related_products}}
                        <h2>{{title}}<h2>
                    {{/related_products}}
                    <!-- TODO: Add related products -->

                    <nav class="breadcrumb">
                        <!-- TODO: JavaScript breadcrumbs -->
                    </nav>
                </aside>

            {{/product_page}}


            {{#about_page}}

                <article>
                    <h1>About</h1>

                    {{store_description}}

                    {{#store_email}}
                        {{#lang}}Contact:{{/lang}} <a href="mailto:{{store_email}}">{{store_email}}</a>
                    {{/store_email}}
                </article>

            {{/about_page}}


        </div>

        <footer role="contentinfo">
            <ul>
                <li><a href="/about">About</a></li>
                <li><a class="tictail_terms fullscreen fullscreen_iframe"
                    href="/legal/terms">Terms</a></li>
                <li><a class="tictail_return-policy fullscreen fullscreen_iframe"
                    href="/legal/return-policy">Returns</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </footer>

        {{#product_page}}
            <div class="image__zoom" style="display:none"></div>
        {{/product_page}}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="/js/scripts.js"></script>

        <!-- TODO: Remove -->
        <iframe name="tt_colophon" id="tt_colophon" src="https://tictail.com/colophon/{{store_subdomain}}" style="position: fixed; z-index: 9999; top: 0px; right: 0px; height: 33px; overflow: hidden; background-image: none; border: 0px; width: 219px; background-position: initial initial; background-repeat: initial initial;"></iframe>
        <script>
            var __ttBaseUrl = 'https://tictail.com',
                __ttColophonUrl = 'https://tictail.com/colophon/lxls',
                __ttSearchUrl = '/search',
                __ttAssetsUrl = '{{assets_url}}',
                __ttLocaleData = {},
                __ttSubdomain = '{{store_subdomain}}',
                __ttAnalyticsId = 'UA-26369943-12';
        </script>
        <script src="//dmb7ixdwya1nh.cloudfront.net/static/js/v1/storefront/json.js"></script>
        <script src="//dmb7ixdwya1nh.cloudfront.net/static/js/storefront/mustache.js"></script>
        <script src="//dmb7ixdwya1nh.cloudfront.net/static/js/storefront/store.js"></script>
        <script>TT.store.domReady();</script>
    </body>
</html>